style.css

    div {
        background-color: cadetblue;
        height: 600px;
        width: 450;
}

    body {
    background-color: powderblue;
   
  }


  .container {
    height: 1000px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

 .image-absolute {
        position: absolute;
        bottom: 430px;
        left: 115px;
        height: 200px;
        bottom: 455px;
    }

.subhead-margin {
    margin-bottom: 25px;
}

.contents {
    padding: 25px;
}

.modal-style {
       background-color: #34393F;
        border-radius: 8px;
    }

.modal-backdrop {
        background-color: hsl(318, 79%, 23%);
     }


.modal {
    background-color:rgb(207, 202, 202);
    }

.modal-body {
    color: #ffffff;
    padding: 0%;
    }

.modal-box {
    background-color: #222222;
    margin-bottom: 25px;
    display: inline-block;
    align-items: center;

    }

    .streaming {
        padding: 20px;;
        display: flex;
        justify-content: space-between;
        line-height: 0px;
    }

    .circles {
        display: inline-block;

    }

    .circle {
        border-radius: 100%;
        display: inline-block;
        height: 30px;
        width: 30px;
        z-index: 10;
        position: relative;
    }
      
      .red {
        margin-left: -9px;
      }
      
      .green {
        margin-left: -9px;

      }
      
      .blue {
        margin-left: -9px;
      }
      
      .black {
        margin-left: -9px;
      }

      .modal-footer {
        background-color: #222222;
        border: 0px;
        padding: 20px;
    }
